
/*navigator*/
 #menu-principal {
    flex: 1 1 100%;
}
#menu-principal ul {
    padding: .3rem;
    list-style: none;
    margin: 1rem 0 0 0;
    display: block;
    border-top: 1px solid rgba(93, 105, 37, 0.856);
    text-decoration: none;
    flex-direction: row;
}
#menu-principal ul .menu {
    color: #fff;
    text-decoration: none;
    padding: .3rem;
}
#menu-principal ul .menu:hover,
#menu-principal ul .active {
    color:#7B9407;
}
#menu-principal .dropdown-item:hover,
#menu-principal .dropdown-item:focus,
#menu-principal .dropdown-item:active:hover {
    background-color:#7B9407;
    color: #fff;
}
.encabezado {
    background:black;
    color:#7B9407;
    padding: 0rem 0;
    /*padding: .2rem 0;pendiente para confirmar si eliminar o no*/
    transition: all 1s ease;
}
.encabezado.fondo-menu {
    background: rgba(93, 105, 37, 0.856);
    padding: .5rem 0;
}
 .encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img {
    width: 50px;
    height: auto;
}
.texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    text-align: center;
    align-items: center;
}

/*ESTILO PARA LOS BOTONES */
.btn-primary {
    background: #000;
    color: white;
    border-color: transparent;
    transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
    color: #fff;
    background: rgba(90, 78, 78, 0.68);
    border-color: transparent;
}
.btn-secondary {
    background: #7B9407;
    color: #fff;
    border-color: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active:hover {
    color:#fff;
    background: rgba(90, 78, 78, 0.68);
    border-color: transparent;
}
.generar {
    background:gray;
    color:white;
    border-color: transparent;
}
.generar:hover,
.generar:focus,
.generar:active:hover {
    color:#fff;
    background: rgba(29, 29, 29, 0.89);
    border-color: transparent;
}
/*ICONOS DE TABLA*/
.updateicon{
    font-size: 20px;
    color:#7B9407;
}
.updateicon:hover,
.updateicon:focus,
.updateicon:active:hover {
    color: rgba(90, 78, 78, 0.68);
    border-color: transparent;
}
.deleteicon{
    font-size: 20px;
    color:black;
}
.deleteicon:hover,
.deleteicon:focus,
.deleteicon:active:hover {
  color: rgba(90, 78, 78, 0.68);  
}
/*FOOTER*/
.pieDePagina {
    padding: 0;
    background:black ;
    color: #fff;
    margin: .1rem 0;
    text-align: center;
}

.pieDePagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pieDePagina .redes-sociales a {
    color:white;
    font-size: 1.5rem 0;
    margin: 0 .5rem;
    opacity: .6;
    transition: all .5s ease;
}
.pieDePagina .redes-sociales a:hover {
    opacity: 1;
}
.pieDePagina .logoSitio img {
    width: 25px;
    height: 25px;
    margin-bottom: 0.5rem;
}
@media (min-width:768px) {
    #menu-principal {
        height: auto;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1;
    }
    #menu-principal {
        display: flex;
    }
    /*cambieesto era ul li a*/
    #menu-principal ul {
        padding: .8rem;
        text-transform: capitalize;
        border-top: 0px;
        border-bottom: 5px solid transparent;
        transition: all .5s ease;
    }
    #menu-principal .btn-group,
    #menu-principal ul li.active a {
        border-top: 0;
        padding: .8rem;
    }
    #menu-principal ul .menu:hover,
    #menu-principal ul .active {
        color: #7B9407;
        border-bottom: 4px solid;
        transition: all .5s ease;
    }
}
