
<section>
    <header class="encabezado navbar fixed-top" role="banner" id="encabezado">
        <div class="container">
            <a href="/principal/agregar" class="logo">
                <img src="/static/images/logoPrincipal.png" alt="logo del sitio" />
            </a>
            <nav id="menu-principal" class="collapse">
                <ul>
                    <li><a class="menu active" href="/rol/agregar">Producto</a></li>
                </ul>
            </nav>
        </div>
    </header>
   
</section>